<div class="grid-container">
  <h1 class="mat-h1">Sur le pouce</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards" [colspan]="2" [rowspan]="1">
      <mat-card class="dashboard-card">

        <mat-card-header>
          <mat-card-title>
            {{card.title}}
          </mat-card-title>
        </mat-card-header>

        <mat-card-content >

          <div *ngIf="card.type == 'burger'">
            <p *ngFor="let burger of burgers">
              <span>{{burger.title}}</span> :
              <span>{{burger.description}}</span>
              <span class="price">{{burger.price | currency:'EUR':'symbol':'1.2-2'}}</span>
              <mat-divider></mat-divider>
            </p>
          </div>

          <div *ngIf="card.type == 'galette'">
            <p *ngFor="let galette of galettes">
              <span>{{galette.title}} : </span>
              <span>{{galette.description}}</span>
              <span class="price">{{galette.price | currency:'EUR':symbol:'1.2-2'}}</span>
              <mat-divider></mat-divider>
            </p>
          </div>

          <div *ngIf="card.type == 'pizza'">
            <p *ngFor="let pizza of pizzas">
              <span>{{pizza.title}} : </span>
              <span>{{pizza.description}} </span>
              <span class="price">{{pizza.price | currency:'EUR':symbol:'1.2-2'}}</span>
              <mat-divider></mat-divider>
            </p>
          </div>

        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
